@import '../../css/base.styl'

.topBlock {
  background-image: url('../../media/graph.svg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  flex-grow: 1;
  flex-basis: 50%;

  min-height: 200px;
  background-position: center top;
}