@import '../../css/base.styl'

.topBlock {
  background-image: url('../../media/graph.svg');
  width: 100%;
  background-repeat-y: no-repeat;
  background-size contain
  flex-grow: 5;
  flex-basis: 50%;

  min-height: 200px;
  background-position: center top;
}