@import '../../css/base.styl'

.topBlock {
  background-image: url('../../media/graph.svg');
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  flex-grow: 1
}
