@import '../../css/base.styl'

.navigation {
  width: 100%;
  background: #232c3e;
}

.inner {
  width: 100%;
  padding: 15px 0;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.item {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  &:focus {
    color: lightslategray;
  }
}
  
.active {
  color: #fff
}

.icon {
  icon();
  &:active {
    color: #fff
  }
}