@import '../../css/base.styl'

.bots {
  width: 100%;

  flex-grow: 1;
}
.bot {
  width: 230px;
  height: 209px;
  padding: 2px 0;
  border-radius: 5px;
  //overflow: hidden;

  .botInner {
    text();
    font-size: 20px;

    background: #252d3f;
    height: 100%;
    width: 100%

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      color: $subColor;
      line-height: 1em
    }

    .green {
      color: #78a659;
    }

    .red {
      color: #d2447b;
    }
  }
}

.inner {
  width: 100%;

  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

:global {
  .smooth-dnd-container {
    width: 100%;

    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //overflow: hidden;
  }
}
