@import '../../css/base.styl'

.time {
  width: 100%;
  bottom: 0;
  display: flex;
  flex-grow: 1
  align-items: flex-start;
  padding: 35px 0;
  @media (max-width: $small) {
    padding: 10px 0;
  }
}

.range {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.unit {
  border: 1px solid #546076;
  background: transparent;
  border-radius: 22px;
  padding: 10px 20px;
  outline none
  @media (max-width: $small) {
    padding: 3px 5px;
  }
}

.title {
  @extend .unit;
  padding-left: 0
  border: 1px solid transparent;
}

.active {
  border: 1px solid #adadad;
  color: #fff;
}