@import '../../css/base.styl'

.titleBar {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 34px;
  color: $mainColor;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}