@import '../../css/base.styl'

.titleBar {
  text();
  text-transform: none
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-height: 140px;
  padding: 45px 0px;

  @media (max-width: $small) {
    padding: 15px 0
  }
}

.title {
  font-size: 34px;
  color: $mainColor;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}

.icon {
  font-size: 34px;
  color: $mainColor;
  @media (max-width: $small) {
    font-size: 20px;
  }
    &:active {
      color: #fff
    }
}