@import '../../css/base.styl'

.titleBar {
  text();
  text-transform: none
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-height: 140px;
  padding: 45px 0;

  @media (max-width: $small) {
    padding: 15px 0
  }
}

.title {
  color: $mainColor;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  text();
  @media (max-width: 1430px) {
    font-size: 34px;
  }

  @media (max-width: 998px) {
    font-size: 34px;
  }

  @media (max-width: $small) {
    font-size: 24px;
  }
}

.icon {
  icon();
  &:active {
    color: #fff
  }
}