$mainColor = #546076;
$subColor = #fff;
$small = 700px;
$minSize = 350px;
$baseFont = 'S FU IDisplay';

text() {
  font-size: 24px;
  line-height: 1
  color: $mainColor;
  font-weight: bold;
  text-transform: uppercase;
  @media (max-width: 700px) {
    font-size: 1em;
  }
}