$mainColor = #546076;
$subColor = #fff;

$big = 1430px;
$middle = 998px;
$small = 700px;
$minSize = 350px;
$baseFont = 'S FU IDisplay';

text() {
  line-height: 1
  color: $mainColor;
  font-weight: bold;
  text-transform: uppercase;

  font-size: 60px;

  @media (max-width: $big) {
    font-size: 24px;
  }

  @media (max-width: $middle) {
    font-size: 24px;
  }

  @media (max-width: $small) {
    font-size: 1em;
  }

  @media (max-width: $minSize) {
    font-size: 1em;
  }
}


icon() {
    font-size: 60px;

    @media (max-width: $big) {
      font-size: 34px;
    }

    @media (max-width: $small) {
      font-size: 20px;
    }

    @media (max-width: $minSize) {
      font-size: 20px;
    }
}