@import '../../css/base.styl'

.balance {
  text();
  width: 100%;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  max-height: 140px;
  padding: 0 0 40px 0;
  @media (max-width: $small) {
    padding: 15px 0
  }
}

.capital {
  @media (max-width: $small) {
    padding: 5px 0;
  }
}

.info {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $small) {
    flex-direction: column
  }
  .tradeBalance {
    text();
    font-size: 75px;
    line-height: 1;
    color: $subColor;
    font-family: "S FU IDisplay";
    font-weight: bold;
    text-align: left;
    @media (max-width: 1430px) {
      font-size: 75px;
    }

    @media (max-width: 998px) {
      font-size: 75px;
    }

    @media (max-width: $small) {
      font-size: 1em;
    }

    @media (max-width: $minSize) {
      font-size: 1em;
    }
  }

  .details {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    @media (max-width: $small) {
      align-items: baseline
    }

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .amount {
        color: $subColor;
      }
      .hIcon {
        width: 25px
        height: auto;
      }
    }
  }
}
